.player-list {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.player-list-empty {
  text-align: center;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
}


